* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navigation style */

#header {
  width: 100%;
  display: flex;
  gap: 55px;
  padding-top: 10px;
  padding-left: 100px;
  align-items: center;
  padding-bottom: 10px;
  
}

#logo {
  width: 10%;
}

/* #fullnav{
    justify-content: space-between;

} */

#nav-bar {
  width: 60%;
}

#nav-list {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);

}

.nav-list a:visited {
    color: hsl(219, 9%, 45%);
}  

#nav-bar2 {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-left: 50px;
}

#avatar {
  width: 30px;
}

#cart {
  width: 15px;
}

/* Section-1 */

#main-section {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 100px auto;
}

#left-side {
  width: 40%;
}

#product-img {
  width: 100%;
  height: 390px;
  border-radius: 8px;
  object-fit: cover;
}
#thumbnails {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.thumb-img {
  width: 21%;
  border-radius: 8px;
}
#right-side {
  width: 60%;
  padding-top: 40px;
  padding-left: 20px;
}

#company-name{
    color: hsl(26, 100%, 55%) ;
    letter-spacing: 1px;
    font-size: 10px;
}

.product-title{
    padding-top: 7px;
}

#text{
margin-top: 20px;
letter-spacing: 0.7px;
word-spacing: 0.7px;
line-height: 20px;
font-size: 18px;
font-weight: 300px;
}

#price{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#price p{
    background-color:  hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
}

#discount{
    text-decoration: line-through;
    font-weight:light ;
    color: lightgray;
    margin-top: 5px;
}

/* Cart section */

.add-to-cart {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.price-counter {
  width: 20%;
  display: flex;
  background-color: hsl(223, 64%, 98%);
  border-radius: 8px;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;


}

.plus-minus {
  color: hsl(26, 100%, 55%);
}

#cart-btn {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: hsl(26, 100%, 55%);
  padding: 6px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
}

#cart-btn img {
  color: hsl(0, 0%, 100%);
}


